*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 5em;
    margin-bottom: 5%;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
}
.logo{
    margin-left: 8%;
    margin-right: 10%;
}
.imglogo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: white;
}
li{
  float: left;
}
li a{
    display: block;
    text-align: center;
    padding: 25px 40px 15px 40px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} */
.navbar {
    overflow: hidden;
    background-color:white;
    margin: 0%;
    padding: 0%;
    width: 40%;
  }
  
  .navbar a {
    float: left;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 12px;  
    border: none;
    outline: none;
    color: rgb(201, 193, 193);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-left: 0%;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .form-control[type=text]{
    background-image: url(Imagenes/search.svg);
    background-repeat: no-repeat;
    border-radius: 12px;
    font-size: 12px;
    background-color:  #EEEE;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
  }
 .btn-success{
  background-color:  rgb(52, 52, 186);
  width: 9em;
  height: 3.5em;
  border-radius: 18px;
  color: white;
  font-size: 0.8em;
  align-items: center;
  border: transparent;
 
 }
.bquote{
    margin-left: 15%;
    margin-top: 1%;
}
.quote{
    background-color:  rgb(52, 52, 186);
    width: 9em;
    height: 2.5em;
    border-radius: 18px;
    color: white;
    font-size: x-small;
    margin-top: 20%;
    border: none;
}
.quote:hover ,.btn-success:hover{
  background-color:  rgb(109, 109, 226);
}
.contenedor1{
   display: flex;
   height: 25rem;
   margin-left: 5%;
   margin-bottom: 5em;
   margin-top: 10%;
}
h1{
    font-family: 'Nunito';
    font-size: 3rem;
}
.conten1Left{
    margin-left: 5%;
    flex-basis: 50%;
}
.underbar{
    display: flex;
    margin-top: 3em;
}
.unb{
  flex-basis: 30%;
}
p{
  color: rgb(188, 184, 184);
  font-size: 0.9em;
}
.conten1Right{
  margin-left: 15%;
}
.foto1{
    border-radius: 12px;
    object-fit: cover;
    width: 80%;
    height: 100%;
    
}
.contenedor2{
    display: flex;
    margin-bottom: 5em;
}
.conten2Left{
    flex-basis: 50%;
    margin-left: 9%;
    padding-left: 0.7em;
}
.contenmedio{
    display: flex;
    margin-left: 5%;
    margin-bottom: 5em;
}
.lorenmedio{
  padding-right: 5em;
  padding-left: 5em;
}
.f1{  
    background-image: url(Imagenes/foto1.png);
}
.f2{
  background-image: url(Imagenes/foto2.png);
}
.f3{
  background-image: url(Imagenes/foto3.png);
}
.f4{
  background-image: url(Imagenes/foto4.png);
}
   
.f1, .f2, .f3, .f4{
  width: 15rem;
    height: 15rem;
    margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}
.precio1{
  margin-bottom: 80%;
  width: 6em;
  height: 2em;
  margin-left: 5%;
  margin-top: 10%;
  border: 1px solid black;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 18px;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.f1:hover ,.f2:hover ,.f3:hover ,.f4:hover{
   width: 20%;
   height: 10%;
   color: white;
}
.icoubicacion{
    display: flex;
}
.icoub{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.8em;
}
.footer{
    display: flex;
    margin-top: 10rem;
    margin-left: 10%;
    margin-bottom: 10rem;
}
.lorenfinal{
  padding-top: 0.5em;
}
.btnsee{
  margin-left: 100%;
  width: 9em;
  height: 3em;
  color: grey;
  background-color: white;
  border-radius: 14px;
}
.btnsee:hover{
  background-color: black;
  color: white;
}